Importing the necessary libraries for webscraping and retrieving info from the web

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

writing a function to make request and get the data in the html tags

necessary error handling procedure utilized.

In [11]:
def table_head(url):
    r =  requests.get(url)
    global table
    global df
    if r.status_code == 200:
        try:
            st = datetime.now()
            Soup = BeautifulSoup(r.text, "html")
            table = Soup.find('table')
            titles = table.find('tr')
            table_titles = [name.text for name in titles]
            del table_titles[0]
            df = pd.DataFrame(columns = table_titles)
            print(datetime.now() - st)
            return df
        except:
            pass
    elif r.status_code == 429:
        print('Too many request!!!!, kindly take a break and try again')
    elif r.status_code == 500:
        print("Server Error!!!")
    else:
        print("No reponse kindly confirm root")

Function to join tanle headers and body of the table inside a dataframe

In [8]:
def new_table():
    Column_data = table.find_all('tr')
    for row in Column_data[1:]:
        row_data = row.find_all('td')
        Individual_row = [data.text for data in row_data[1:]]
        length = len(df)
        df.loc[length] = Individual_row
    return df

calling the function to get table headers

In [12]:
table_head('https://www.investing.com/indices/major-indices')

0:00:00.275938

Empty DataFrame
Columns: [Name, Last, High, Low, Chg., Chg. %, Time]
Index: []

calling the function to get the full content of the scraped table data

In [13]:
new_table()

,Name,Last,High,Low,Chg.,Chg. %,Time
0,Dow Jones,"39,872.99","39,905.80","39,778.73",+66.22,+0.17%,16:20:01
1,S&P 500 derived,"5,321.41","5,324.32","5,297.87",+13.28,+0.25%,16:20:00
2,Nasdaq,"16,832.62","16,839.02","16,719.97",+37.75,+0.22%,16:00:57
3,Small Cap 2000 derived,"2,098.05","2,101.15","2,088.55",-4.45,-0.21%,01:00:00
4,S&P 500 VIX derived,11.86,12.56,11.84,-0.29,-2.39%,16:46:03
5,S&P/TSX,"22,468.16","22,554.98","22,416.01",+2.79,+0.01%,16:38:18
6,Bovespa,"127,412","128,272","127,205",-339,-0.27%,16:23:00
7,S&P/BMV IPC,"56,760.72","57,286.59","56,638.15",-632.56,-1.10%,16:26:00
8,MSCI World,"3,479.84","3,480.08","3,466.85",+2.77,+0.08%,16:18:00
9,DAX derived,"18,726.36","18,768.64","18,638.14",-42.60,-0.23%,11:38:58
10,FTSE 100 derived,"8,416.45","8,424.20","8,379.12",-7.75,-0.09%,11:35:00
11,CAC 40,"8,141.46","8,167.50","8,097.98",-54.51,-0.67%,11:35:45
12,Euro Stoxx 50 derived,"5,045.85","5,060.65","5,024.65",-28.49,-0.56%,11:35:00
13,AEX,911.51,912.66,908.76,-3.44,-0.38%,11:35:45
14,IBEX 35 derived,"11,334.90","11,371.30","11,291.50",-4.60,-0.04%,11:35:00
15,FTSE MIB derived,"34,603.61","34,719.24","34,367.36",-221.40,-0.64%,11:35:00
16,SMI derived,"12,007.33","12,050.29","11,972.59",-30.66,-0.25%,11:35:00
17,PSI,"6,905.51","6,905.51","6,834.23",+2.67,+0.04%,11:35:45
18,BEL 20 derived,"3,984.00","3,990.60","3,964.30",-18.40,-0.46%,11:30:00
19,ATX,"3,775.49","3,775.68","3,754.93",+11.41,+0.30%,11:50:00
20,OMXS30,"2,631.49","2,631.76","2,615.58",-0.68,-0.03%,11:30:00
21,OMXC25,"1,984.46","1,987.06","1,974.26",+0.69,+0.03%,11:00:00
22,MOEX,"3,428.40","3,460.19","3,409.92",-39.69,-1.14%,11:40:00
23,RTSI,"1,200.28","1,207.10","1,189.10",-3.82,-0.32%,11:40:00
24,WIG20,"2,567.52","2,588.31","2,557.42",-25.58,-0.99%,11:15:00
25,Budapest SE,"68,088.24","68,870.26","67,865.60",-766.41,-1.11%,17/05
26,BIST 100,"10,895.25","11,088.01","10,751.98",+155.68,+1.45%,11:09:59
27,TA 35,"1,974.40","1,995.96","1,965.52",-6.23,-0.31%,10:24:59
28,Tadawul All Share,"12,122.48","12,145.45","12,085.34",-2.88,-0.02%,08:15:58
29,Nikkei 225 derived,"38,953.50","39,364.00","38,948.50",-135.00,-0.35%,01:59:59
30,S&P/ASX 200,"7,851.70","7,870.20","7,841.50",-12.00,-0.15%,02:04:59
31,DJ New Zealand,324.26,327.57,324.06,-2.96,-0.90%,12:40:00
32,Shanghai,"3,157.97","3,165.22","3,148.34",-13.18,-0.42%,03:59:34
33,SZSE Component,"9,681.66","9,730.28","9,649.15",-69.16,-0.71%,03:44:57
34,China A50,"12,821.95","12,847.60","12,779.68",-25.00,-0.19%,03:00:00
35,DJ Shanghai,433.07,435.14,431.80,-2.07,-0.48%,03:58:00
36,Hang Seng derived,"19,220.62","19,487.36","19,175.80",-415.60,-2.12%,04:08:28
37,Taiwan Weighted,"21,304.26","21,515.52","21,249.88",+157.05,+0.74%,16/05
38,SET,"1,370.83","1,376.94","1,367.14",-7.87,-0.57%,06:03:00
39,KOSPI,"2,724.21","2,734.48","2,719.74",-17.93,-0.65%,02:30:30
40,IDX Composite,"7,202.28","7,295.06","7,195.72",-64.41,-0.89%,03:59:57
41,Nifty 50,"22,529.05","22,591.10","22,404.55",+27.05,+0.12%,06:02:15
42,BSE Sensex,"73,953.31","74,189.19","73,762.37",-52.63,-0.07%,06:01:57
43,PSEi Composite,"6,633.66","6,704.14","6,614.51",-49.12,-0.74%,02:50:00
44,Karachi 100,"75,105.71","75,482.46","74,958.10",+21.71,+0.03%,07:15:00
45,VN 30,"1,308.62","1,313.19","1,297.51",-3.93,-0.30%,04:02:04
46,CSE All-Share,"12,235.14","12,325.64","12,173.83",-84.56,-0.69%,20/05

Saving data into a CSV FILE

In [15]:
df.to_csv('DataProject_H', index = False)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    47 non-null     object
 1   Last    47 non-null     object
 2   High    47 non-null     object
 3   Low     47 non-null     object
 4   Chg.    47 non-null     object
 5   Chg. %  47 non-null     object
 6   Time    47 non-null     object
dtypes: object(7)
memory usage: 2.9+ KB

In [17]:
df.describe()

              Name       Last       High        Low    Chg.  Chg. %      Time
count           47         47         47         47      47      47        47
unique          47         47         47         47      47      46        39
top     Dow Jones   39,872.99  39,905.80  39,778.73  +66.22  +0.03%  11:35:00
freq             1          1          1          1       1       2         5

In [18]:
df.isna()

     Name   Last   High    Low   Chg.  Chg. %   Time
0   False  False  False  False  False   False  False
1   False  False  False  False  False   False  False
2   False  False  False  False  False   False  False
3   False  False  False  False  False   False  False
4   False  False  False  False  False   False  False
5   False  False  False  False  False   False  False
6   False  False  False  False  False   False  False
7   False  False  False  False  False   False  False
8   False  False  False  False  False   False  False
9   False  False  False  False  False   False  False
10  False  False  False  False  False   False  False
11  False  False  False  False  False   False  False
12  False  False  False  False  False   False  False
13  False  False  False  False  False   False  False
14  False  False  False  False  False   False  False
15  False  False  False  False  False   False  False
16  False  False  False  False  False   False  False
17  False  False  False  False  False   False  False
18  False  False  False  False  False   False  False
19  False  False  False  False  False   False  False
20  False  False  False  False  False   False  False
21  False  False  False  False  False   False  False
22  False  False  False  False  False   False  False
23  False  False  False  False  False   False  False
24  False  False  False  False  False   False  False
25  False  False  False  False  False   False  False
26  False  False  False  False  False   False  False
27  False  False  False  False  False   False  False
28  False  False  False  False  False   False  False
29  False  False  False  False  False   False  False
30  False  False  False  False  False   False  False
31  False  False  False  False  False   False  False
32  False  False  False  False  False   False  False
33  False  False  False  False  False   False  False
34  False  False  False  False  False   False  False
35  False  False  False  False  False   False  False
36  False  False  False  False  False   False  False
37  False  False  False  False  False   False  False
38  False  False  False  False  False   False  False
39  False  False  False  False  False   False  False
40  False  False  False  False  False   False  False
41  False  False  False  False  False   False  False
42  False  False  False  False  False   False  False
43  False  False  False  False  False   False  False
44  False  False  False  False  False   False  False
45  False  False  False  False  False   False  False
46  False  False  False  False  False   False  False

In [19]:
df.columns

Index(['Name', 'Last', 'High', 'Low', 'Chg.', 'Chg. %', 'Time'], dtype='object')

In [20]:
df.head()

,Name,Last,High,Low,Chg.,Chg. %,Time
0,Dow Jones,"39,872.99","39,905.80","39,778.73",+66.22,+0.17%,16:20:01
1,S&P 500 derived,"5,321.41","5,324.32","5,297.87",+13.28,+0.25%,16:20:00
2,Nasdaq,"16,832.62","16,839.02","16,719.97",+37.75,+0.22%,16:00:57
3,Small Cap 2000 derived,"2,098.05","2,101.15","2,088.55",-4.45,-0.21%,01:00:00
4,S&P 500 VIX derived,11.86,12.56,11.84,-0.29,-2.39%,16:46:03

Changing numeriv columns to numeric datatypes

In [28]:
df['Last'] = pd.to_numeric(df['Last'], errors = 'coerce')
df['High'] = pd.to_numeric(df['High'], errors = 'coerce')
df['Low'] = pd.to_numeric(df['Low'], errors = 'coerce')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    47 non-null     object
 1   Last    4 non-null      float64
 2   High    4 non-null      float64
 3   Low     4 non-null      float64
 4   Chg.    47 non-null     object
 5   Chg. %  47 non-null     object
 6   Time    47 non-null     object
dtypes: float64(3), object(4)
memory usage: 2.9+ KB

Will Provide update to existing programme after more reserach and familiarity with visualization, Kindly grade on what I have been able to achieve.